<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Настройка объекта Logger.  Первое, что мы должны сделать,
	  это указать ему, куда мы будем писать те или иные сообщения.
	  Все эти файлы указываются в разделе <targets>. Первое, что мы добавим,
	  так это все возможные записи, которые мы сможем проводить:
	  -->
		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
			  layout="${longdate} | ${message}" />
	</targets>

	<rules>

		<logger name="*" minlevel="Trace" writeTo="file" />

	</rules>

</nlog>
